<?xml version='1.0' encoding='utf-8'?>
<widget id="com.palestra.sapo" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"> ​
    <name>SAPO</name>​
    <description>​
       Aplicação desenvolvida para Palestras
    </description>​
    <author email="victorgoecking96@gmail.com" href="http://facebook.com/victorgoecking">​
        Victor goecking
    </author>​
    <content src="index.html" />​
    <access origin="*" />​
    <icon src="icon.png"/>​
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.4" />
    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none"/>
</widget>